.container-fluid{
    display:flex;
}
app-kategoriak{
    flex-basis: 20%;
}
app-aruk{
    flex-basis: 60%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}
app-kosar{
    flex-basis: 20%;
    overflow-y: auto;
    height: 100vh;
    overflow-x: hidden;
}